/*PALETA DE CORES 
.color1 { #44749d };
.color2 { #c6d4e1 };
.color3 { #ffffff };
.color4 { #ebe7e0 };
.color5 { #bdb8ad };*/

/* LIMPANDO PADRÃO NAVEGADORES */

* {
    margin: 0;
    padding: 0;
}

/* LAYOUT*/

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #c6d4e1;
}

#cabecalho {
    background: #44749d;
    padding: 15px;
    text-align: center;
}

#logo, #menu {
    padding: 10px;
}

#principal {
    width: 920px;
    margin: 0 auto;
}

#area-postagen {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}


.postagen {
    padding: 20px;
    margin-bottom: 12px;
    background: #ffffff;
}

.conteudo-lateral {
    font-size: 0.8em;
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1em;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px solid #ebe7e0 ;
}

#rodape {
    clear: both;
    background: #bdb8ad;
    padding: 15px;
    font-style: italic;
    text-align: center;
}

/* GERAL*/

h1 {
    font-size: 2.5em;
    color: #403e3e	;
}

h2 {
    color: #44749d;
}

h3 {
    color: #403e3e;
    background: #ebe7e0 ;
    padding: 5px;
}

.branco {
    color: #ffffff;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

/*MENU - LINK'S*/

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #44749d;
    padding: 8px 12px;
}

a:hover {
    text-decoration: underline;
}

#cabecalho a:link, #cabecalho a:visited {
    color: #ffffff;
    padding: 8px 12px;
}

#cabecalho a:hover {
    color: #44749d;
    background: #ffffff;
    text-decoration: none;
}